.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.clickable-icon {
    cursor: pointer;
}

.logo-container img {
    max-height: 120px;
    /* Limita la altura del logo */
    height: auto;
}


.navbar {
    border-radius: 20px;
    margin-bottom: 30px;
}

.d .navbar-nav .nav-item .nav-link {
    color: black;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: gray;
    color: black;
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: gray;
    color: white;
}

/* -------- */

.sobre-nosotros {
    padding: 60px 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.sobre-nosotros h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.sobre-nosotros .lead {
    font-size: 20px;
    font-style: italic;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-nosotros p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px;
}

.sobre-nosotros .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros .col-md-6 {
    text-align: center;
}

.sobre-nosotros img {
    max-width: 100%;
    /* Hace que la imagen sea responsiva */
    height: auto;
    /* Mantiene la relación de aspecto */
    border-radius: 8px;
    /* Borda redondeada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra sutil */
}




.category-label {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

.form-select.custom-select {
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    font-size: 1rem;
    width: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-select.custom-select:focus {
    border-color: #007bff;
    outline: none;
}

.row.g-3 {
    margin-top: 20px;
}

.card-custom {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    background-color: whitesmoke;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-text small {
    color: #888;
}

.card-body p {
    margin-bottom: 5px;
}

.bg-video {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-video .content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;

    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
}



.custom-card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.custom-card-img {
    border-bottom: 2px solid #eee;
    border-radius: 12px 12px 0 0;
    transition: transform 0.3s ease;
}

.custom-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2c3e50;
    margin-top: 15px;
    margin-bottom: 10px;
}


.custom-card-text {
    font-size: 0.9rem;
    color: #7f8c8d;
    line-height: 1.6;
}


.custom-card-date {
    font-size: 0.8rem;
    color: #95a5a6;
    text-align: right;
    margin-top: 10px;
}


.row {
    margin-top: 30px;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.category-label {
    font-size: 1.6rem;
    font-weight: 700;
    color: #34495e;
    text-align: center;
    margin-bottom: 20px;
}

.navbar-container {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
}

.logo-container img {
    max-height: 50px;
}

.bg-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;

    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.5rem;
    }
}

/* footer */

footer {
    background-color: #212121;
    color: #fff;
    padding: 40px 0;
}

footer h5 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.link-custom {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}


.link-custom:hover {
    color: #f1f1f1;
    text-decoration: underline;
}


.hover-effect:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

footer ul {
    padding-left: 0;
    margin-bottom: 0;
}

footer .list-unstyled {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer i {
    font-size: 20px;
    transition: transform 0.3s ease;
}

footer .text-center p {
    font-size: 14px;
    color: #bbb;
}

footer .text-center p strong {
    color: #f1f1f1;
}



@media (min-width: 992px) {
    .bg-video video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .clickable-icon span {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer .row {
        flex-direction: column;
        text-align: center;
    }

    footer .col-md-4 {
        flex: 100%;
    }

    footer h5 {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }

    footer .list-unstyled {
        flex-direction: column;
        gap: 15px;
    }

}