body {
    background-image: url('https://wallpapers.com/images/hd/travel-hd-bfuw99yd29g1ylhc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}